@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import './base/root';
@import './variables';
@import './base/null';

html {
  scroll-behavior: smooth;
  overflow: initial;
  -webkit-tap-highlight-color: initial;
}

::-webkit-scrollbar {
  width: toRem(3);
  height: toRem(3);

  &-thumb {
    background-color: $accent;
    border-radius: $radius;
  }

  &-track {
    background-color: $grey;
  }
}

::selection {
  background-color: #c1df16a7;
}

body {
  overflow-x: hidden;
}

section {
  padding-top: toRem(150);

  @media (max-width: $mobile) {
    padding-top: toRem(76);
  }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  @include flexColumn();
  min-height: 100%;

  // Прижимаем footer
  > main {
    @include flexColumn();
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Текст  ======================================================================================================================================================================================================================
h1 {
  @include adaptiveValue('font-size', 62, 24, 991, 375, 1);
  font-weight: 300;
  line-height: 150%; /* 90/60 */
}

h2 {
  @include adaptiveValue('font-size', 52, 24, 991, 375, 1);
  line-height: 150%; /* 60/40 */
}

h3 {
  @include adaptiveValue('font-size', 42, 18, 991, 375, 1);
  line-height: 150%; /* 60/40 */
}

h4 {
  @include adaptiveValue('font-size', 36, 28, 991, 375, 1);
  line-height: 150%; /* 54/36 */
}

.main-subtitle {
  margin-top: toRem(16);
  font-size: toRem(16);

  @media (max-width: $mobile) {
    font-size: toRem(12);
  }
}

.text {
  &_subtitle {
    font-size: toRem(16);
    font-weight: 400;
    margin-top: toRem(12);
  }

  &_accent {
    color: $accent;
  }
}
