@use 'sass:math';

// Подключение переменных ===========================================================================================================================================================================================================================================================================
// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import './base/mixins';

$fontSize: toRem(16);
$lineHeight: 150%; /* 24/16 */
$fontFamily: 'Poppins';

// Переменные ==============================================================================================================================================================================================================================================================================
$mainColor: var(--main-color);

$accent: var(--accent);
$accent_light: var(--accent-light);

$grey: var(--grey);
$grey_light: var(--grey-light);

$parchment_cream: var(--parchment-cream);

$white: var(--white);
$yellow: var(--yellow);
$green_dark: var(--green-dark);

$box_shadow: 0 toRem(2) toRem(7.7) 0 var(--box-shadow-color);
$radius: toRem(12);
$transition: 0.2s ease;

$zIndex_1: 1;
$zIndex_5: 5;
$zIndex_50: 50;

$header_height: var(--header-height);

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1448;
$paddingContainer: var(--padding-сontainer);
$paddingContainerMinus: var(--padding-сontainer-minus);

// Брейк-поинты
$pc: em(1199.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
